version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: be_task_service_tm
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file:
      - .env
    networks:
      - database_network

networks:
  database_network:
    external: true   